# Node modules
node_modules/

# React Native
ios/Pods/
android/.gradle/
android/app/build/
android/.idea/

# Logs
*.log
yarn-error.log
npm-debug.log

# Expo
.expo/
.expo-shared/

# Mac System files
.DS_Store
